{% extends "header.html" %}

{% block body %}
<main>
          <div class="container">
          <div class="container">
          
          <h3>Please login:</h3>
          <br>
          <center><p class="chip transparent">{{ error }}</p></center>
          <center>
          <form action="/login/" class="form-inline" method="post">
            <div class="row">
            <div class="input-field col l6 m6 s12 ">
            <i class="material-icons prefix ">account_circle</i>
            <input class="validate" right-alert id="username" name="username" type="text" value="" required>
            <label for="username">Username</label>
            </div>

            <div class="input-field col l6 m6 s12">
            <i class="material-icons prefix">security</i>
            <input class="validate" id="password" name="password" type="password" value="" required>
            <label for="password">Password</label>
            </div>
            </div>
            <input class="btn" type="submit" value="Login" style="background-color:rgb(255, 179, 0);color:#000">
          </form>
        </center>
        <div class="container">
        <br><p>No account? <a href='/register/'>Register here</a></p>
        <p><a href='/forgot-password/'>Forgot Password?</a></p>
        </div>
        </div></div>
  </main>
{% endblock %}